
body{background:#C1CDC1; color:#2F4F4F}
.href_:link, .href_:link {border:0px;}
.white_square, .black_square{width:60px; height:60px;}
.black_square{background:#B5B5B5;}
.white_square{background:#FFFFE0;}
.column{float:left;}
.numbers{
    width:30px;
    height:60px;
    font-size:1.8em;
    text-align:center;
    line-height: 60px;
    white-space: nowrap;}
.outside{float:left; clear:right;}
.bottom{float:right; clear:both;}
.literal{
    width:60px;
    height:30px;
    font-size:1.8em;
    text-align:center;
    white-space: nowrap;
    float:left;}
.board{float:left; border:2px solid #2F4F4F;}
.full_board{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);}
img{
    width:60px;
    height:60px;
    vertical-align: middle;}
#copyright{
    white-space: nowrap;
	font-weight:bold;
	font-size:14px;
	color:#5F9EA0;
	position:fixed;
	right:20px;
	bottom:20px;}
A IMG { border:none;
        type:none;}
.wolf{
        position: absolute;
        top: 50%;
        left: 37%;
        transform: translate(-50%, -50%);}
.goat{
        position: absolute;
        top: 54%;
        left: 65%;
        transform: translate(-50%, -50%);}
#wolf{
        width:298px;
        height:446px;
        vertical-align: middle;}
#goat{
        width:282px;
        height:398px;
        vertical-align: middle;}
.title_image{
        position: absolute;
        top: 12%;
        left: 1%;
        margin-right: -50%;
        transform: translate(0%, -50%);}
#title_image{
        position: absolute;
        top: 1%;
        left: 1%;
        width:282px;
        height:398px;}
.rules_link{
        position: absolute;
        top: 35%;
        right: 1%;
        margin-left: -50%;
        transform: translate(-50%, -50%);}
#rules_image{
        position: absolute;
        top: 1%;
        right: 1%;
        width:282px;
        height:200px;}
.new_game_link{
        position: absolute;
        top: 70%;
        right: 8%;
        margin-left: -50%;
        transform: translate(-50%, -50%);}
#new_game_image{
        position: absolute;
        top: 1%;
        right: 1%;
        width:198px;
        height:109px;}
.picture_on_table{
        position: absolute;
        top: 50%;
        left: 1%;
        margin-right: -50%;
        transform: translate(0%, -50%);}
#picture_on_table{
        width:400px;
        height:300px;}
.title_image{
        position: absolute;
        top: 12%;
        left: 1%;
        margin-right: -50%;
        transform: translate(0%, -50%);}
#image_result_game{
        position: absolute;
        top: 1%;
        right: 1%;
        width:282px;
        height:398px;}
.image_result_game{
        position: absolute;
        top: 5%;
        right: 5%;
        margin-left: 50%;
        transform: translate(-50%, -50%);}
#error{
         position: absolute;
        top: 30%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: 30px}