<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Гра в козу та вовків</title>
    <link rel="stylesheet" type="text/css" href="{{prefix}}/g_a_w_g/staticfiles/css/style.css"/>
</head>
<body>	
	<p id="error">OOPS SOMETHING GONE WRONG</p>
    <div id="copyright">&copy; Bezobiuk Igor 2016</div>
</body>
</html>
